hello_kabuda_vue2/.vs/CMakeWorkspaceSettings.json
hello_kabuda_vue2/.vs/ProjectSettings.json
hello_kabuda_vue2/.vs/slnx.sqlite
hello_kabuda_vue2/.vs/hello_kabuda_vue2/config/applicationhost.config
hello_kabuda_vue2/.vs/hello_kabuda_vue2/FileContentIndex/0c41f45c-994d-4bcd-9cf4-84d4dd7dad1c.vsidx
hello_kabuda_vue2/.vs/hello_kabuda_vue2/FileContentIndex/70346d8a-73e4-4b7a-bc0a-67104681ca7d.vsidx
hello_kabuda_vue2/.vs/hello_kabuda_vue2/FileContentIndex/cd8acc26-7f3e-47df-8291-b9e6ba7ff064.vsidx
hello_kabuda_vue2/.vs/hello_kabuda_vue2/FileContentIndex/d1279af8-2496-40a5-a431-ec4941b85d58.vsidx
hello_kabuda_vue2/.vs/hello_kabuda_vue2/FileContentIndex/fc408afd-9908-4f55-ae91-17ce17216f2a.vsidx
hello_kabuda_vue2/.vs/hello_kabuda_vue2/v17/.wsuo
